# yaml pipeline for java project

trigger:
  none

pool:
  vmImage: ubuntu-latest

#s2                          j2  steps:
stages:
  - stage:
    displayName: 'mavenpackage'
    jobs:
      - job: package
        steps: 
            - task: Maven@4
              inputs:
                mavenPomFile: 'Boardgame/pom.xml'
                publishJUnitResults: true
                testResultsFiles: '**/surefire-reports/TEST-*.xml'
                javaHomeOption: 'JDKVersion'
                mavenVersionOption: 'Default'
                mavenAuthenticateFeed: false
                effectivePomSkip: false
                sonarQubeRunAnalysis: false



